
.main{
    background-color:bisque;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1400px 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}
.content{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    width: 500px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.479);
    gap: 20px;
    border-radius: 15px;
    line-height: 20px;
    color: whitesmoke;
    font-size: 25px;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Redressed', cursive;
    
}
.content h1{
    margin-top: 80px;
    letter-spacing: 3px;
    font-family: 'Redressed', cursive;
   
}
.content h2{
    margin: 5px 5px;
    letter-spacing: 3px;
    font-family: 'Redressed', cursive;
}
.inputdiv{
    margin-top: 5px;
    width: 350px;
    height: 30px;
    border-radius: 10px;
    padding: 15px ;
}
.checkbox{
    margin-right: 200px;
    font-size: 16px;
    margin-top: -10px;
}
.submit{
    margin-top: 5px;
    width: 85px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}
.content a{
    margin-left: 5px;
    color: antiquewhite;
}
.create{
    width: 450px;
    line-height: 35px;
    border-radius: 10px;
    background-color: green;
    padding: 5px;
    color: white;
}